<!DOCTYPE html>
<html lang="ja">
    <head>
        {% load static %}
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <link rel="stylesheet" href="{% static 'css/login.css' %}">
        <title>Think ToDo login</title>
    </head>
    <body>
        <h1>log in</h1>
        <div class="loginform">
            <a href="{% url 'todoapp:todo' %}">{% csrf_token %}
                <button type="submit">login</button>
            </a>
        </div>
    </body>
</html>